<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= name %></h1>
    <p><%= genre %></p>

    <form class="new-album">
      <input type="text" placeholder="name">
      <input type="submit">
    </form>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
