<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form class="pure-form pure-form-stacked" action="/user" method="post">
      <label>Email</label>
      <input type="email" name="email">
      <label>Password</label>
      <input type="password" name="password">
      <input type="submit" value="register">
    </form>
  </body>
</html>
