<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>New Artist</h1>
  <form class="new-artist">
    <input type="text" placeholder="name">
    <input type="text" placeholder="genre">
    <input type="submit">
  </form>

  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
